body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  height: 100%;
}

#container {
  min-height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

#container::after {
  content: "";
  background-image: url("./MCMP.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

header {
  background-color: #000;
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  height: 95%;
  align-items: flex-end;
  margin: 0;
  margin-right: 300px;
}

header a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

footer {
  background-color: black;
  height: 150px;
  width: 100%;
  bottom: 0;
  color: white;
  position: sticky;
  bottom: 0px;
  
}

#rs {
  display: flex;

}


.fab {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  margin:10px
}


header .icon{
    display:none;
}

@media (max-width:950px){
   body div header nav ul {
        display:none;
    }

    header .icon{
        display:block;
        position:absolute;
        right: 0;
        margin-top: 50px;
        font-size:2.5em;
    }
